
Server/Bin/Crashes
Server/Bin64/Crashes
Server/Data
Server/Database
Server/Logs
Website/application/cache
Server/Apache24/logs
Backup
vendor
ADB_hotfixes_735.00.sql
ADB_world_735.00.sql
Saves
Server/Apache24/temp
Website/temp
composer.*
autosave.*
Server/Apache24/conf/httpd.conf
Server/Apache24/apache_start.bat